@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200..700&display=swap');

html {
    background-color: #dae7f1;
    font-family: "Yanone Kaffeesatz", sans-serif;
    letter-spacing: 1px;
}

caption {
    margin-bottom: 8px;
}

.inventory {
    border-collapse: collapse;
}

.inventory, tr, td {
    border: 1px solid #1E1E24;
}

h1 {
    text-align: center;
}

th {
    background: linear-gradient(0deg, rgb(9, 8, 104) 0%, rgb(78, 106, 143) 100%);
    color: white;
}

td {
    background-color: #5444e7;
}

th, td {
    padding: 8px;
}

tr:nth-child(even) td {
    background-color: #6298fc;
}